*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  .head{
    background-color: rgb(240, 248, 255);
    border-radius: 7px;
    width: 100%;
  }
  .header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header__title{
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .header__var{
    margin-top: 20px;
    margin-right: 10px;
  }
  .header__var ul li{
    display: inline;
    justify-content: space-around;
    background-color: white;
    border: 1px solid orange;
    border-radius: 4px;
    margin-left: 7px;
    padding: 2px;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .header__var ul li:hover{
    background-color: orange;
  }
  .header__var ul li a{
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  /* MEDIA QUERY */ 
@media only screen and (max-width:600px){
  body{
      margin-left: 10px;
      margin-right: 10px;
      
  }
}
@media only screen and (min-width: 600px){
  body{
      margin-left: 50px;
      margin-right: 50px;
  }
}
@media only screen and (min-width: 768px){
  body{
      margin-left: 100px;
      margin-right: 100px;
  }   
}
@media only screen and (min-width: 992px){
  body{
      margin-left: 200px;
      margin-right: 200px;
  }   
}
@media only screen and (min-width: 1200px){
  body{
      margin-left: 300px;
      margin-right: 300px;
  }
}